@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  animation: show-content 0.25s linear forwards;
  animation-delay: 1.25s;
}

@keyframes show-content {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.navbar .logo {
  font-size: 30px;
  font-weight: 700;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin-left: 35px;
}

.navbar ul li a {
  font-size: 20px;
  font-weight: 500;
  transition: 0.25s;
}

.navbar ul li:hover a {
  color: #7cf0d3;
}

.navbar ul li:hover a,
.navbar ul li.active a {
  color: #7cf0d3;
}

.home {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 100vh;
  padding: 60px 9% 0;
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  animation: show-content 0.75s linear forwards;
  animation-delay: 1.5s;
}

.home-info h1 {
  font-size: 55px;
}

.home-info h2 {
  display: inline-block;
  font-size: 32px;
  margin-top: -10px;
}

.home-info h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.7px #7cf03d;
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
  25%,
  100% {
    display: none;
  }
}

.home-info h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid #7cf03d;
  color: #7cf03d;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s ease-in-out infinite;
}

@keyframes fill-text {
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.home-info p {
  font-size: 16px;
  margin: 10px 0 25px;
}

.home-info .btn-sci {
  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #7cf03d;
  border: 2px solid #7cf03d;
  border-radius: 40px;
  box-shadow: 0 0 10px #7cf03d;
  font-size: 16px;
  color: #1f242d;
  font-weight: 600;
  transition: 0.25s;
}

.btn:hover {
  background: transparent;
  color: #7cf03d;
}

.home-info .btn-sci .sci {
  margin-left: 20px;
}

.home-info .btn-sci .sci a {
  display: inline-flex;
  padding: 8px;
  border: 2px solid #7cf03d;
  border-radius: 50%;
  font-size: 20px;
  color: #7cf03d;
  margin: 0 8px;
  transition: 0.25s;
}

.home-info .btn-sci .sci a:hover {
  background: #7cf03d;
  color: #1f242d;
  box-shadow: 0 0 10px #7cf03d;
}

.home-img .img-box {
  position: relative;
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115%;
  height: 115%;
  background: conic-gradient(transparent, transparent, transparent, #7cf03d);
  animation: rotate-border 2.5s linear infinite;
}

@keyframes rotate-border {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.home-img .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #1f242d;
  border-radius: 50%;
  border: 0.1px solid #1f242d;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.home-img .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  z-index: 2;
  mix-blend-mode: lighten;
}

.bars-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1;
}

.bars-animation .bar {
  width: 100%;
  height: 100%;
  background: #1f242d;
  transform: translateY(-100%);
  animation: showbars 0.5s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes showbars {
  100% {
    transform: translateY(0%);
  }
}
